.layout-width {
    width: 550px;
}

.dg-50-text {
    color: $dark_gray_50;
}

.lg-25-text {
    color: $light_gray_25;
}

// Light theme
.lt-app-background {
    background-color: $almost_white;
}

// Dark theme
