$light_blue: #61DAFB;
$light_gray_25: rgba(40, 45, 53, 0.25);
$dark_gray_50: rgba(40, 45, 53, 0.5);
$dark_gray_75: rgba(40, 45, 53, 0.75);
$violet: rgba(97, 131, 251, 0.85);
$white: #FFFFFF;
$almost_white: #E5E5E5;
$light_gray: #D9D9D9;
$black_gray_25: rgba(255, 255, 255, 0.25);
$almost_black: #282D35;